In [2]:
import pandas as pd
import os
import numpy as np
import requests

In [23]:
pip install netcdf4

Requirement already satisfied: netcdf4 in /Users/rinnibhansali/miniconda3/lib/python3.8/site-packages (1.5.4)
Requirement already satisfied: cftime in /Users/rinnibhansali/miniconda3/lib/python3.8/site-packages (from netcdf4) (1.2.1)
Requirement already satisfied: numpy>=1.9 in /Users/rinnibhansali/miniconda3/lib/python3.8/site-packages (from netcdf4) (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import netcdf4 as nc

ModuleNotFoundError: No module named 'netcdf4'

## Pipeline
- Get rainfall data on cities
- Find city lat/long coordinates
- Go through each plant in df and:
 - Find nearest city
 - Record that city's rainfall
- Repeat for temperature

## Get Latitude/Longitude

In [24]:
def location_string(city):
    start = "https://maps.googleapis.com/maps/api/geocode/json?address="
    city = city.replace(" ", "+")
    start += city
    start += "&key=AIzaSyBh69Lyfh5QPPhIVv4lV7RkwTeOmMVdlBk"
    return start

In [29]:
city_rainfall = pd.read_csv('../data/city_rainfall_lat_long.csv')
city_temp = pd.read_csv('../data/City_Temp.csv')

In [ ]:
city_rainfall_lat_long = city_rainfall
city_rainfall_lat_long['Latitude'] = None
city_rainfall_lat_long['Longitude'] = None
for i in range(city_rainfall.shape[0]):
    response = requests.get(location_string(city_rainfall['City'][i]))
    city_rainfall_lat_long['Latitude'][i] =  response.json()['results'][0]['geometry']['location']['lat']
    city_rainfall_lat_long['Longitude'][i] =  response.json()['results'][0]['geometry']['location']['lng']

In [35]:
city_temp_lat_long = city_temp
city_temp_lat_long['Latitude'] = None
city_temp_lat_long['Longitude'] = None
for i in range(city_temp_lat_long.shape[0]):
    response = requests.get(location_string(city_temp_lat_long['City'][i]))
    city_temp_lat_long['Latitude'][i] =  response.json()['results'][0]['geometry']['location']['lat']
    city_temp_lat_long['Longitude'][i] =  response.json()['results'][0]['geometry']['location']['lng']

<ipython-input-35-1028d056a536>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_temp_lat_long['Latitude'][i] =  response.json()['results'][0]['geometry']['location']['lat']
<ipython-input-35-1028d056a536>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_temp_lat_long['Longitude'][i] =  response.json()['results'][0]['geometry']['location']['lng']

In [37]:
city_rainfall_lat_long.to_csv('../data/city_rainfall_lat_long.csv')
city_temp_lat_long.to_csv('../data/city_temp_lat_long.csv')

In [5]:
city_rainfall_lat_long = pd.read_csv('../data/city_rainfall_lat_long.csv')
city_temp_lat_long = pd.read_csv('../data/city_temp_lat_long.csv')

## Associating Plants With Rainfall/Days of Rain

In [7]:
from math import sin, cos, sqrt, atan2, radians
def find_km_distance(lat1, lon1, lat2, lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

In [8]:
def find_euc_dist(lat1, lon1, lat2, lon2):
    return sqrt((lat1 - lat2)**2 + (lon1 - lon2)**2)

In [16]:
def nearest_city_rf(lat, long, city_rainfall_lat_long):
    min_distance = find_euc_dist(lat, long, city_rainfall_lat_long['Latitude'][0], city_rainfall_lat_long['Longitude'][0])
    best_city = city_rainfall_lat_long['City'][0]
    best_index = 0
    for i in range(city_rainfall_lat_long.shape[0]):
        dist = find_euc_dist(lat, long, city_rainfall_lat_long['Latitude'][i], city_rainfall_lat_long['Longitude'][i])
        if(dist < min_distance):
            min_distance = dist
            best_city = city_rainfall_lat_long['City'][i]
            best_index = i
    print(i)
    return best_city, best_index

In [21]:
def nearest_city_t(lat, long, city_temp_lat_long):
    min_distance = find_euc_dist(lat, long, city_temp_lat_long['Latitude'][0], city_temp_lat_long['Longitude'][0])
    best_city = city_temp_lat_long['City'][0]
    best_index = 0
    for i in range(city_temp_lat_long.shape[0]):
        dist = find_euc_dist(lat, long, city_temp_lat_long['Latitude'][i], city_temp_lat_long['Longitude'][i])
        if(dist < min_distance):
            min_distance = dist
            best_city = city_temp_lat_long['City'][i]
            best_index = i
    return best_city, best_index

In [11]:
base_dataset = pd.read_csv('../data/base_dataset.csv')
df_w_nearest_city = base_dataset
df_w_nearest_city["Nearest City for Rain Stats"] = None
df_w_nearest_city["Days of Rain"] = None
df_w_nearest_city["Inches of Rain"] = None
df_w_nearest_city["Nearest City for Temp Stats"] = None
df_w_nearest_city["Avg High Temp"] = None
df_w_nearest_city["Avg Low Temp"] = None

In [22]:
for i in range(df_w_nearest_city.shape[0]):
    #find nearest city
    city_rf, j_rf = nearest_city_rf(df_w_nearest_city['latitude'][i], df_w_nearest_city['longitude'][i], city_rainfall_lat_long)
    city_t, j_t = nearest_city_t(df_w_nearest_city['latitude'][i], df_w_nearest_city['longitude'][i], city_temp_lat_long)
    #fill df
    df_w_nearest_city['Nearest City for Rain Stats'][i] = city_rf
    df_w_nearest_city['Nearest City for Temp Stats'][i] = city_t
    df_w_nearest_city['Days of Rain'][i] = city_rainfall_lat_long['Days of Rain'][j_rf]
    df_w_nearest_city['Inches of Rain'][i] = city_rainfall_lat_long['Inches'][j_rf]
    df_w_nearest_city['Avg High Temp'][i] = city_temp_lat_long['High Temp (F)'][j_t]
    df_w_nearest_city['Avg Low Temp'][i] = city_temp_lat_long['Low Temp (F)'][j_t]

69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69

<ipython-input-22-790a74101652>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Nearest City for Rain Stats'][i] = city_rf
<ipython-input-22-790a74101652>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Nearest City for Temp Stats'][i] = city_t
<ipython-input-22-790a74101652>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Days of Rain'][i] = city_rainfall_lat_long['Days of Rain'][j_rf]
<ipython-input-22-790a74101652>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Inches of Rain'][i] = city_rainfall_lat_long['Inches'][j_rf]
<ipython-input-22-790a74101652>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Avg High Temp'][i] = city_temp_lat_long['High Temp (F)'][j_t]
<ipython-input-22-790a74101652>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w_nearest_city['Avg Low Temp'][i] = city_temp_lat_long['Low Temp (F)'][j_t]

69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69

In [23]:
df_w_nearest_city

,id,gwh_per_mm3,latitude,longitude,type,Nearest City for Rain Stats,Days of Rain,Inches of Rain,Nearest City for Temp Stats,Avg High Temp,Avg Low Temp
0,H1,3.500000,46.073100,7.403400,HDAM,"Turin, Italy",81,38.6,"Turin, Italy",63,45
1,H102,0.478689,40.330500,22.125300,HDAM,"Skopje, Macedonia",65,18.7,"Skopje, Macedonia",65,45
2,H1020,2.811060,44.449583,24.312917,HDAM,"Bucharest, Romania",72,23.4,"Bucharest, Romania",62,42
3,H1021,2.392777,45.074583,24.364583,HDAM,"Bucharest, Romania",72,23.4,"Bucharest, Romania",62,42
4,H1022,5.020080,44.857917,24.246250,HDAM,"Bucharest, Romania",72,23.4,"Bucharest, Romania",62,42
...,...,...,...,...,...,...,...,...,...,...,...
582,N902,0.625000,58.579460,7.967914,HDAM,"Oslo, Norway",113,30,"Oslo, Norway",49,36
583,N904,0.332353,62.112823,7.387787,HDAM,"Oslo, Norway",113,30,"Oslo, Norway",49,36
584,N1004,0.659574,59.400865,9.550383,HDAM,"Oslo, Norway",113,30,"Oslo, Norway",49,36
585,N1018,0.156790,64.254483,12.545905,HDAM,"Oslo, Norway",113,30,"Oslo, Norway",49,36
586,N1055,0.195973,59.052309,10.018394,HDAM,"Oslo, Norway",113,30,"Oslo, Norway",49,36

In [24]:
df_w_nearest_city.to_csv("../data/hpp-database-with-weather-stats.csv")

## Importing/Reworking Datasets

In [133]:
JRC_DATASET_PATH = '../data/jrc-hydro-power-plant-database_raw.csv'
df = pd.read_csv(JRC_DATASET_PATH)
df

,id,name,installed_capacity_MW,pumping_MW,type,country_code,lat,lon,dam_height_m,volume_Mm3,storage_capacity_MWh,avg_annual_generation_GWh,pypsa_id,GEO,WRI
0,H1,Grande Dixence - Cleuson-Dixence (chandolin-fi...,2069.000000,NaN,HDAM,CH,46.073100,7.403400,1748.00,400.00,1764300.0,1400.0000,NaN,45218.0,WRI1004074
1,H10,Chiotas entracque,1064.000000,1184.0,HPHS,IT,44.177576,7.416505,130.00,30.18,16860.0,NaN,831.0,45432.0,WRI1002882
2,H100,S.massenza - Vezzano molveno UP_S MASS CL_1,377.000000,55.0,HPHS,IT,46.067653,10.983605,580.90,32.70,44800.0,NaN,251.0,NaN,NaN
3,H1000,Lugo di nazza Lugo Di Nazza Hydroelectric Powe...,38.503185,NaN,HDAM,FR,42.091000,9.316000,NaN,NaN,NaN,NaN,3125.0,39764.0,NaN
4,H1001,Pracomune,42.000000,35.6,HPHS,IT,46.547808,11.007077,377.00,NaN,NaN,NaN,3234.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,N1051,Tenneelva,3.400000,NaN,HDAM,NO,62.070161,5.830044,403.90,NaN,NaN,10.3000,NaN,NaN,NaN
4123,N1052,Skorga,2.900000,NaN,HDAM,NO,62.720174,7.770033,319.00,NaN,NaN,10.0000,NaN,NaN,NaN
4124,N1053,Storelva,8.000000,NaN,HDAM,NO,65.323082,12.995377,87.10,NaN,NaN,23.0000,NaN,NaN,NaN
4125,N1054,Vaksvik,7.740000,NaN,HDAM,NO,62.450298,6.895947,189.00,NaN,NaN,21.0000,NaN,NaN,NaN
4126,N1055,Fritzøe,3.300000,NaN,HDAM,NO,59.052309,10.018394,23.29,66.00,3036.0,12.9342,NaN,NaN,NaN

In [134]:
countries = np.asarray(df['country_code'])
countries = np.reshape(countries, (countries.shape[0],1))
countries = np.append(countries, np.zeros((countries.shape[0],1)), axis = 1) #add empty column

In [135]:
country_rainfall = pd.read_csv('../data/Europe_Rainfall.csv')
country_rainfall = country_rainfall.iloc[1:]
country_rainfall = country_rainfall.rename(columns = {'Unnamed: 0':'Rank', 'Unnamed: 1':'Country', 'Unnamed: 2':'Rainfall', 'Unnamed: 3': 'Year'})
del country_rainfall['Rank']
country_codes = pd.read_csv('../data/Country_Codes.csv')
country_codes = country_codes.to_numpy()

In [136]:
row = np.where(country_codes == 'CH')[0]
country_codes[row,0]

array(['Switzerland'], dtype=object)