In [40]:
import netCDF4 as nc
from netCDF4 import Dataset
import numpy as np

In [195]:
#tg (mean temp)

tg_path = '../data/tg_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
tg = nc.Dataset(tg_path)
tg_avg_temp = tg['tg'][time_s:time_e, :, :].data
tg_lat = tg['latitude'][:].data
tg_lon = tg['longitude'][:].data
tg_time = tg['time'][time_s:time_e].data

#tn (min temp)

tn_path = '../data/tn_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
tn = nc.Dataset(tn_path)
tn_min_temp = tn['tn'][time_s:time_e, :, :].data
tn_lat = tn['latitude'][:].data
tn_lon = tn['longitude'][:].data
tn_time = tn['time'][time_s:time_e].data

#tx (max temp)

tx_path = '../data/tx_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
tx_max_temp = nc.Dataset(tx_path)
tx_rainfall = tx['tx'][time_s:time_e, :, :].data
tx_lat = tx['latitude'][:].data
tx_lon = tx['longitude'][:].data
tx_time = tx['time'][time_s:time_e].data

#rr (rainfall)

rr_path = '../data/rr_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
rr = nc.Dataset(rr_path)
rr_rainfall = rr['rr'][time_s:time_e, :, :].data
rr_lat = rr['latitude'][:].data
rr_lon = rr['longitude'][:].data
rr_time = rr['time'][time_s:time_e].data

#pp (sea level pressure)

pp_path = '../data/pp_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
pp = nc.Dataset(pp_path)
pp_pressure = pp['pp'][time_s:time_e, :, :].data
pp_lat = pp['latitude'][:].data
pp_lon = pp['longitude'][:].data
pp_time = pp['time'][time_s:time_e].data

#qq (global radiation)

qq_path = '../data/qq_ens_mean_0.1deg_reg_2011-2019_v21.0e.nc'
qq = nc.Dataset(qq_path)
qq_radiation = qq['qq'][time_s:time_e, :, :].data
qq_lat = qq['latitude'][:].data
qq_lon = qq['longitude'][:].data
qq_time = qq['time'][time_s:time_e].data

### Add columns to base dataset

In [140]:
import pandas as pd
import seaborn as sns

In [203]:
base_dataset = pd.read_csv('../data/base_dataset.csv')
df_w_weather = base_dataset
df_w_weather['rainfall'] = 0.0
df_w_weather['avg daily temp'] = 0.0
df_w_weather['min daily temp'] = 0.0
df_w_weather['max daily temp'] = 0.0
df_w_weather['sea level pressure'] = 0.0
df_w_weather['global radiation'] = 0.0

In [204]:
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return idx

In [207]:
#tg

tg_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(tg_lat, lat)
    lon_ind = find_nearest(tg_lon, lon)
    avg_tg = 0
    for i in range(tg_time.shape[0]):
        val = tg_avg_temp[i, lat_ind, lon_ind]
        if val > -9999:
            avg_tg += tg_avg_temp[i, lat_ind, lon_ind]
    avg_tg /= tg_time.shape[0]
    tg_list.append(avg_tg)
df_w_weather['avg daily temp'] = tg_list

In [ ]:
#tn

tn_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(tn_lat, lat)
    lon_ind = find_nearest(tn_lon, lon)
    avg_tn = 0
    for i in range(tn_time.shape[0]):
        val = tn_min_temp[i, lat_ind, lon_ind]
        if val > -9999:
            avg_tn += tn_min_temp[i, lat_ind, lon_ind]
    avg_tn /= tn_time.shape[0]
    tn_list.append(avg_tn)
df_w_weather['min daily temp'] = tn_list

In [ ]:
#tx

tx_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(tx_lat, lat)
    lon_ind = find_nearest(tx_lon, lon)
    avg_tx = 0
    for i in range(tx_time.shape[0]):
        val = tx_max_temp[i, lat_ind, lon_ind]
        if val > -9999:
            avg_tx += tx_max_temp[i, lat_ind, lon_ind]
    avg_tx /= tx_time.shape[0]
    tx_list.append(avg_tx)
df_w_weather['max daily temp'] = tx_list

In [ ]:
#rr

rainfall_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(rr_lat, lat)
    lon_ind = find_nearest(rr_lon, lon)
    avg_rr = 0
    for i in range(rr_time.shape[0]):
        val = rr_rainfall[i, lat_ind, lon_ind]
        if val > -9999:
            avg_rr += rr_rainfall[i, lat_ind, lon_ind]
    avg_rr /= rr_time.shape[0]
    rainfall_list.append(avg_rr)
df_w_weather['rainfall'] = rainfall_list

In [219]:
#pp

pp_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(pp_lat, lat)
    lon_ind = find_nearest(pp_lon, lon)
    avg_pp = 0
    for i in range(pp_time.shape[0]):
        val = pp_pressure[i, lat_ind, lon_ind]
        if val > -9999:
            avg_pp += val
    avg_pp /= pp_time.shape[0]
    pp_list.append(avg_pp)
df_w_weather['sea level pressure'] = pp_list

In [216]:
#qq

qq_list = []
for i in range(df_w_weather.shape[0]):
    lat = df_w_weather['latitude'][i]
    lon = df_w_weather['longitude'][i]
    lat_ind = find_nearest(qq_lat, lat)
    lon_ind = find_nearest(qq_lon, lon)
    avg_qq = 0
    for i in range(pp_time.shape[0]):
        val = qq_radiation[i, lat_ind, lon_ind]
        if val > -9999:
            avg_qq += qq_radiation[i, lat_ind, lon_ind]
    avg_qq /= qq_time.shape[0]
    qq_list.append(avg_qq)
df_w_weather['global radiation'] = qq_list

In [220]:
df_w_weather

,id,gwh_per_mm3,latitude,longitude,type,rainfall,avg daily temp,min daily temp,max daily temp,sea level pressure,global radiation
0,H1,3.500000,46.073100,7.403400,HDAM,4.397808,0.224521,-2.752520,3.113342,1018.835356,164.849315
1,H102,0.478689,40.330500,22.125300,HDAM,1.156712,14.191178,8.588164,19.539150,1016.137273,185.057534
2,H1020,2.811060,44.449583,24.312917,HDAM,1.523288,12.840274,7.025178,18.711397,1016.791795,168.586301
3,H1021,2.392777,45.074583,24.364583,HDAM,1.929863,12.494356,6.656630,18.391616,1016.930151,160.232877
4,H1022,5.020080,44.857917,24.246250,HDAM,1.675890,12.657150,6.830274,18.549890,1016.904672,163.761644
...,...,...,...,...,...,...,...,...,...,...,...
582,N902,0.625000,58.579460,7.967914,HDAM,4.505480,5.541671,2.422931,9.550575,1011.147685,88.410959
583,N904,0.332353,62.112823,7.387787,HDAM,3.967123,-0.095425,-1.711863,3.556301,1009.441931,86.369863
584,N1004,0.659574,59.400865,9.550383,HDAM,3.880548,4.191699,0.933644,8.760000,1010.703575,95.126027
585,N1018,0.156790,64.254483,12.545905,HDAM,3.561644,3.404548,0.174164,7.392383,1008.822754,89.400000
586,N1055,0.195973,59.052309,10.018394,HDAM,3.077260,7.945014,4.482219,11.338520,1010.593709,103.027397

In [223]:
df_w_weather.to_csv("../data/hpp-database-with-EOBS-climate.csv")